.genre-page {
    padding: 40px 20px;
    min-height: 100vh;
}

.genre-page__top {
    margin-bottom: 2rem;
    width: 259px;
}

.back-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.genre-title {
    position: relative;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    color: #fff;
    transition: all 0.3s ease-in-out;
}




.genre-page__top:hover .genre-title {
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease-in-out;

}

.genre-page__top:hover .back-button img {
    transform: translateX(-15px);
    transition: all 0.3s ease-in-out;
}

.genre-img {
    display: block;
}

.genre-movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
    gap: 40px 20px;
    justify-content: center;
}


.genre-page__load-more {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    display: block;
    color: #fff;
    border-radius: 28px;
    padding: 16px 48px;
    background: #67a5eb;
    text-align: center;
    border: none;
    cursor: pointer;
    margin: 64px auto 0 auto;
    transition: all 0.3s ease-in-out;
}

.genre-page__load-more:hover {
    color: rgba(255, 255, 255, 0.5);
    background: #45526e;
}

.genre-page__load-more:focus {
    color: #000;
    background: #fff;
}

.genre-page__loaded {
    display: block;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    color: #67a5eb;
    line-height: 133%;
    text-align: center;
    margin: 64px 0 0 0;
}

@media(max-width: 768px) {

    .genre-movie-list .movie-card:first-child {
        margin: 0;
    }

    .genre-movie-list .movie-card {
        width: 100%;
    }

    .genre-page__load-more,
    .genre-page__loaded {
        margin: 88px auto 0 auto;
    }
}

@media(max-width: 480px) {
    .genre-page__top {
        width: 185px;
    }

    .genre-title {
        font-size: 30px;
    }
}