.movie-card {
    position: relative;
    height: 336px;
    border: 3px solid rgba(255, 255, 255, 1.25);
    border-radius: 16px;
    box-shadow: 0 0 80px 0 rgba(255, 255, 255, 0.53);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.movie-card:hover {
    border: 3px solid #6a5dc2;
}

.movie-card:focus {
    border: 3px solid #6a5dc2;
    outline: none;
}

.movie-card--default:first-child {
    margin: 0;
}

.movie-card__index {
    position: absolute;
    top: -12px;
    left: -12px;
    height: 48px;
    width: 62px;
    border-radius: 50px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #6a5dc2;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-card__image {
    width: 100%;
    display: block;
    height: 336px;
    border-radius: 16px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.movie-card__info {
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    flex-grow: 1;
}

.movie-card__title {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

.movie-card__meta {
    font-size: 0.85rem;
    color: #94a3b8;
    margin: 0;
}

.movie-card__label {
    display: inline-block;
    background-color: #f97316;
    color: #fff;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    margin-top: auto;
    width: fit-content;
}

.movie-card__remove-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    right: -18px;
    border: none;
    cursor: pointer;
    border-radius: 24px;
    width: 48px;
    height: 48px;
    background: #fff;
    z-index: 10000;
    transition: all 0.3s ease-in-out;
}

.movie-card__remove-btn:hover {
    opacity: 0.7;
}



@media(max-width: 768px) {
    .movie-card--default {
        width: 100%;
    }


    .movie-card--default .movie-card__image {
        max-height: 502px;
        width: 100%;
    }
}

@media(max-width: 480px) {
    .movie-card__image {
        width: 100%;
    }
}